@font-face {
  font-family: 'iconfont';  /* project id 348868 */
  src: url('//at.alicdn.com/t/font_8u28iec2jyeewmi.eot');
  src: url('//at.alicdn.com/t/font_8u28iec2jyeewmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_8u28iec2jyeewmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_8u28iec2jyeewmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_8u28iec2jyeewmi.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:0.7rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
	padding:0;
	margin:0;
}
html body{
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;	
}

#navbar{
	position: fixed;
	top: 0;
	z-index: 3;
	height: 0.6rem;
	width: 100%;
	background: #000;
	opacity: 0.8;
/*	display: flex;
	flex-direction: row;
	justify-content: space-between;*/
}

#navbar a {
	text-decoration: none;
	color: #fff;
}
#navbar .logo {
	float:left;
	margin-left: 0.1rem;
	color: #fed136;
	font-size: 0.25rem;
	line-height: 0.6rem;
	font-family: cursive;
	font-weight: bolder;
}
#navbar ul {
	float:right;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#navbar ul li {
	list-style: none;
	line-height: 0.6rem;
	font-size: 0.2rem;
	margin-right:0.1rem;
}
#navbar ul li a:hover {
	color: #fed136;
}
#header{
	height:6rem;
	width:100%;
	color: #fff;
/*	background-size: cover;
    background-position: center;*/
    position: relative;
    overflow: hidden;
}
#header:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
    width: 100%;
    height: 6rem;
}
#header .header-content {
	width: 8rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);	
	z-index: 2;
	text-align: center;
}
#header .header-content h2 {
	font-size: 0.3rem;
	font-family: sans-serif,"Droid Serif","Helvetica Neue",Helvetica,Arial;
	margin-bottom: 0.2rem;
}
#header .header-content h1 {
	font-size: 0.5rem;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial;
	margin: 0;
}
#header .header-content button,
#contact button {
	color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0.1rem;
    font-size: 0.2rem;
    padding: 0.15rem 0.25rem;
    outline: none;
}
#services{
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}
#services .layout, #team .layout{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
#services h2,
#cases h2,
#process h2,
#team h2,
#contact h2 {
	font-size: 0.4rem;
	color: #333;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#services>p,
#cases>p,
#process>p,
#team>p,
#contact>p {
	color: #777;
	font-size: 0.3rem;
	margin-top: 0.2rem;
}

#services .service-choose {
	margin-top: 0.2rem;
	width:3rem;
}
#services .service-choose h4,
#process .step li .summary h4,
#team .team-member h4 {
	font-size: 0.25rem;
	color: #333;
	margin:0.01rem;
}
#services .service-choose p,
#process .step li .summary p,
#team .team-member p {
	font-size: 0.2rem;
	color: #777;

}
@media (max-width: 420px) {
	#services .service-choose {
		margin-top: 0.2rem;
		width:4rem;
	}
}
#cases {
	overflow: hidden;
	background: #F6F6F7;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

#cases .cases-preview {
	margin: 0.1rem;
	height: 2.5rem;
	width: 3rem;
	background-color: #fff;
	border-radius: 0.05rem;
	position: relative;
}
#cases .cases-preview img{
	width: 3rem;
	height: 2rem;
	border-radius: 0.05rem 0.05rem 0 0;
}

#cases .cases-preview .cases-layer{
  	 width: 3rem;
     height: 2rem;
     background-color: #fed136;
     border-radius: 0.05rem 0.05rem 0 0;
     opacity: 0;
     position:absolute;
     top:0;
     left:0;
}
#cases .cases-preview .cases-layer-top {
	font-size: 1.5rem;
	color:#fff;
	font-weight: bolder;
	vertical-align: top;
	opacity: 0;
    position: absolute;
	left: 50%;
	top: 35%;
	transform: translate(-50%,-50%);	
	text-align: center;
	z-index: 6;
}

#cases .cases-preview:hover .cases-layer{
	opacity: 0.5;
}
#cases .cases-preview:hover .cases-layer-top {
	opacity: 1;
}

#cases .cases-preview h4 {
	color: #333;
	font-size: 0.2rem;
	font-weight: 400;
	padding: 0;
	margin: 0;
	line-height: 0.2rem;
}
#cases .layout{
	margin-top: 0.6rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
@media  (max-width: 420px) {
	#cases .cases-preview {
		margin: 0.2rem;
		height: 3.5rem;
		width: 4rem;
		background-color: #fff;
		border-radius: 0.2rem;
		position: relative;
	}
	#cases .cases-preview img{
		width: 4rem;
		height: 3rem;
		border-radius: 0.2rem 0.2rem 0 0;
	}

	#cases .cases-preview .cases-layer{
	  	 width: 4rem;
	     height: 3rem;
	     background-color: #fed136;
	     border-radius: 0.2rem 0.2rem 0 0;
	     opacity: 0;
	     position:absolute;
	     top:0;
	     left:0;
	}
	#cases .cases-preview .cases-layer-top {
		font-size: 2rem;
		color:#fff;
		font-weight: bolder;
		vertical-align: top;
		opacity: 0;
	    position: absolute;
		left: 50%;
		top: 35%;
		transform: translate(-50%,-50%);	
		text-align: center;
		z-index: 6;
	}

	#cases .cases-preview:hover .cases-layer{
		opacity: 0.5;
	}
	#cases .cases-preview:hover .cases-layer-top {
		opacity: 1;
	}

	#cases .cases-preview h4 {
		color: #333;
		font-size: 0.3rem;
		font-weight: 400;
		padding: 0;
		margin: 0;
		line-height: 0.3rem;
	}
}
#process{
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}
#process .step {
	margin-top: 1rem;
}
#process .step li {
	list-style: none;
	position: relative;
	padding:0 0 0.7rem 0;
}
#process .step li:last-child{
	padding-bottom: 0;
}
#process .step li:nth-child(odd) .summary{
	position: absolute;
	right: 50%;
	top: -0.3rem;
	margin-right: 1.4rem;
	width: 3rem;
	text-align: right;
}
#process .step li:nth-child(even) .summary{
	position: absolute;
	left: 50%;
	top: -0.3rem;
	margin-left: 1.4rem;
	width: 3rem;
	text-align: left;	
}
#process .step li img {
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
	border: 0.08rem #F0F1F1 solid;	
}
#process .step li button {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: 0.08rem #F0F1F1 solid;
	background-color: #fed136;
	color: #fff;
	font-weight: 500;
	font-size: 0.4rem;
	outline: none;
}
#process .step li:after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	border-left: 2px solid #f1f1f1;
	height: 100%;
	z-index: -1;
}
#team {
	padding-top: 0.8rem;
	padding-bottom: 0.6rem;
	overflow: hidden;
	background: #F6F6F7;
}
#team .team-member {
	margin-top: 0.5rem;
	width: 3rem;
}
#team .team-member img{
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	border: 0.08rem #fff solid;
}
#team .team-member .iconList{
	height:1rem;
	display: flex;
	justify-content: center;
	align-items:center;
}
#team .team-member .iconfont{
	font-size: 0.4rem;
	margin:0 0.1rem;
}
@media (max-width: 420px) {
	#team .team-member {
		margin-top: 0.5rem;
		width: 4.5rem;
	}
	#team .team-member img{
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		border: 0.1rem #fff solid;
	}
	#team .team-member .iconList{
		height:1.2rem;
		display: flex;
		justify-content: center;
		align-items:center;
	}
	#team .team-member .iconfont{
		font-size: 0.5rem;
		margin:0 0.1rem;
	}
}
input[type="text"] {
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	width: 4rem;
	height: 0.4rem;
	border-radius: 0.05rem;
	font-size: 0.2rem;
}
textarea {
	width: 4rem;
	height: 1.6rem;
	border-radius: 0.05rem;
	font-size: 0.2rem;
	margin-right: 0.1rem;
}
#contact h2 {
	color: #fff;
}
#contact {
	overflow: hidden;
	background: url(images/background2.gif);
  	background-size: 100%;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}
#contact .layout{
	margin: 0.1rem auto 0;
	width:8.4rem;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	height:1.8rem;
}
@media  (max-width: 420px) {
	input[type="text"] {
		width: 6rem;
		height: 0.6rem;
		border-radius: 0.1rem;
		font-size: 0.3rem;
		margin:0.1rem;
		border:none;
	}
	textarea {
		margin:0.1rem;
		width: 6rem;
		height: 1.5rem;
		border-radius: 0.1rem;
		font-size: 0.3rem;
	}
	#contact h2 {
		color: #fff;
	}
	#contact {
		overflow: hidden;
		background: url(images/background2.gif);
	  	background-size: 100%;
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
	}
	#contact .layout{
		margin: 0.1rem auto 0;
		widows: 8rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		height:4rem;
	}	
}

#footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	font-size: 0.2rem;
	align-items:center;
}
#footer span {
	flex:1;
}
#footer .iconfonts{
	flex:1;
}
#footer .link{
	flex:1;
}
#footer .iconfonts .iconfont {
	font-size: 0.3rem;
}
#footer a{
	color: #fed136;
	text-decoration: none;
	margin-right: 0.2rem;
}
#footer a:hover {
	text-decoration: underline;
}
@media (max-width: 420px) {
	#footer .iconfonts .iconfont {
		font-size: 0.5rem;
	}

}
/*轮播图*/

.carousel ul,
.carousel li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.carousel .img-ct {
	/*overflow: hidden;*/
	position: absolute;

}
.carousel .img-ct>li {
	float: left;
	height:6rem;
	width:10rem;
}
.carousel .img-ct .img1{
	background: url(images/background.jpg) ;
    background-size: cover;
    background-position: center;
}
.carousel .img-ct .img2{
	background: url(images/background1_2.jpg);
    background-size: cover;
    background-position: center;
}
.carousel .img-ct .img3{
	background: url(images/background1_3.jpg);
    background-size: cover;
    background-position: center;
}
.carousel .img-ct .img4{
	background: url(images/background1_4.jpg);
    background-size: cover;
    background-position: center;
}

.carousel .bullet {
	position: absolute;
	left: 50%;
	top: 95%;
	transform: translate(-50%,-50%);	
	width: 3rem;
	height: 0.2rem;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.carousel .bullet>li {
	width: 0.4rem;
	height: 0.1rem;
	border: 3px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}
.carousel .bullet>li.active{
	background: #ccc;
}
